@charset "UTF-8" ;

/* 
    paleta de cores

    #043152
    #e19300
    #35796a

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body , html {
    background-color: #043152 ;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: #043152;
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    height: 500px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.402);
}

img {
    width: 100%;
    height: 200px;

}

#formulario {
    padding: 10px;
    display: block;
}